.guide
  position relative
  min-height 500px

  .impact-sidebar
    top 40px
    left -150px

.guide-header
  margin-top 50px
  h1
    font-size 33px
    font-weight 300
    margin-bottom .5em

  .guide-header-description
    font-size 1.2em
    font-weight 400
    line-height 1.6em
    margin-top 0
    color rgba(39,43,44,0.6)
