.terms-container
  h2
    font-size 33px
    font-weight 100
    margin-bottom 15px

  h3
    font-size 22px
    font-weight 100
    margin-bottom 15px

  p
    font-size 16px
    font-weight 400
    margin-top 0
