@require '../../css/mixins/colors'
/*
pageWidth = 1024px
guideWidth = 300px
guideBorder = guideWidth / 10
spacingX = ((pageWidth - (3 * guideWidth)) / 2)
spacingY = 43px
*/
pageWidth = 1024px
guideWidth = 220px
guideBorder = guideWidth / 10
spacingX = ((pageWidth - (4 * guideWidth)) / 3)
spacingY = 30px

.page-guides .container-padding
  overflow auto

.guide-preview
  border 4px solid #ccc
  width guideWidth
  height 350px
  border-radius guideBorder
  position relative
  margin-right spacingX
  margin-bottom spacingY
  float left
  background-color #fff
  background-repeat no-repeat
  background-position top center
  background-size cover
  cursor pointer
  overflow hidden

  &.selected
    border-color teal

.guide-preview-impact-score
  position absolute
  bottom 0
  left 10px

  .impact-text
    margin-left 10px
    text-transform capitalize
    color teal
    display inline-block

.guide-preview-status
  background-color rgba(108,182,158,0.9)
  width 145px
  height 60px
  padding-top 20px
  position absolute
  transform rotate(45deg)
  top -2px
  right -48px
  left auto
  text-align center

  &:before
    color #fff
    color rgba(255,255,255,0.9)
    font-size 120px

  .fa
    transform rotate(-45deg)
    display block
    color #fff
    font-size 2em

.guide-preview-status-star
  background-color rgba(235,235,0,0.8)

.guide-preview-content
  position absolute
  top 175px
  left 0
  right 0
  bottom 0
  border-radius 0 0 guideBorder - 3 guideBorder - 3
  background-color #242424
  background-color rgba(0,0,0,0.6)
  text-align left
  padding 10px
  color #fff

.guide-preview-recommended
  position absolute
  top 30px
  right 0
  padding 5px 10px 5px 15px
  font-size 0.8em
  background-color #000
  border-radius 10px 0 0 10px
  color #fff
  text-transform uppercase
  font-family 'Montserrat'
  letter-spacing 0.2em

.guide-preview-title
  font-weight 400
  color #fff
  font-size 1.3em
  line-height 1.3em
  margin 5px 0 10px

.guide-preview-summary
  color #fff
  color rgba(255, 255, 255, .7)
  font-size .9em
  margin 10px 0

.guide-preview-row-end
  margin-right 0

/*
.guide-preview-status
  position absolute
  top 60px
  left 80px
*/

.guide-preview.small
  width 115px
  height 175px
  margin 0 25px 25px 0

  .guide-preview-content
    top 70px
    font-size 0.7em
    background linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))

  .guide-preview-title
    position absolute
    bottom 10px
    left 0
    margin 0
    padding 0 10px

  .guide-preview-summary
    display none

  .guide-preview-status
    width 90px
    height 40px
    padding-top 13px
    right -30px

    &:before
      font-size 18px

    .fa
      font-size 1.5em
/*
    top 10px
    left 10px
    &:before
      font-size 18px
    &.pu-icon-check
      &:before
        color #50E3C2
*/
.guide-preview
  &.small
    width 150px
    height 222px
    &.selected
      .guide-preview-content
        top 0
        background none
        background-color #6ba38b
        background-color rgba(107,163,139,0.9)
