pageWidth = 1024px
guideWidth = 300px
guideBorder = guideWidth / 10
spacingX = ((pageWidth - (3 * guideWidth)) / 2)
spacingY = 43px

.page-guides .container-padding
  overflow auto

.guide-preview
  border 4px solid #000
  width guideWidth
  height 478px
  border-radius guideBorder
  position relative
  margin-right spacingX
  margin-bottom spacingY
  float left
  background-color #fff
  background-repeat no-repeat
  background-position top center
  background-size cover
  cursor pointer

.guide-preview-impact-score
  position absolute
  bottom 0
  left 10px

  .impact-text
    margin-left 10px
    text-transform capitalize
    color #7BD1C0

.guide-preview-content
  position absolute
  top 239px
  left 0
  right 0
  bottom 0
  border-radius 0 0 guideBorder - 3 guideBorder - 3
  background-color rgba(0,0,0,0.4)
  text-align left
  padding 10px
  color #fff

.guide-preview-recommended
  position absolute
  top 30px
  right 0
  padding 5px 10px 5px 15px
  font-size 0.8em
  background-color #000
  border-radius 10px 0 0 10px
  color #fff
  text-transform uppercase
  font-family 'Montserrat'
  letter-spacing 0.2em

.guide-preview-title
  font-weight 100
  color #fff

.guide-preview-third
  margin-right 0

.guide-preview-status
  position absolute
  top 60px
  left 80px
  &:before
    color #fff
    color rgba(255,255,255,0.9)
    font-size 120px
