@require 'nib'
@require './mixins/hardware'
@require './mixins/fonts'
@require './mixins/colors'

// force hardware accelerated css
body
  better-font()

  font-family: 'Open Sans', sans-serif;
  background-color: lightBackgroundColor
  color: fgColor
  font-size: 1em
  line-height: 1.4

a
  color: teal
  text-decoration: none
  cursor pointer

.pu-icon
  font-family 'pileup'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.float-left
  float left

.float-right
  float right

.container
  text-align center
  min-width 1024px
  background-color lightBackgroundColor
  background-image linear-gradient(rgba(0,0,0,0), rgba(208,208,208,1))
  background-size 100% 200px
  background-repeat no-repeat
  background-position left bottom

.container-padding
  width 1024px
  margin 0 auto
  padding 3em 0
  text-align left

.content
  background-color white

h2, h3
  font-weight 100

*, *:after, *:before
  box-sizing border-box

.clear-both
  clear both

.guide-module-header
  margin-bottom 5px
  text-transform uppercase
  font-weight bold
  letter-spacing 3.11px
  font-size 18px

.guide-module-subheader
  margin -5px 0 0 0
  color rgba(#272B2C, 0.4)
  font-size 14px

.guide-module-content
  margin-top: 30px
  padding: 5px 0
