@require 'nib'
@require './mixins/hardware'
@require './mixins/fonts'
@require './mixins/colors'

// force hardware accelerated css
body
  better-font()

  font-family 'Open Sans', sans-serif;
  background-color lightBackgroundColor
  color fgColor
  font-size 1em
  line-height 1.4

a
  color #128E77
  text-decoration underline
  cursor pointer

  &.btn
    display inline-block
    border-radius 30px
    padding 10px 20px
    margin 0 10px
    text-decoration none

  &.btn-green
    background-color teal
    color white
    font-weight bold

  &.btn-purple
    background-color #BD10E0
    color white
    font-weight bold

#old-browser-notice
  text-align center

.pu-icon
  font-family 'pileup'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.float-left
  float left

.float-right
  float right

.container
  text-align center
  min-width 1024px
  min-height 100vh
  background-color lightBackgroundColor
  /*
  background-image linear-gradient(to top, #D0D0D0 0%, #F8F8F8 100%)
  background-size 100% 200px
  background-repeat no-repeat
  background-position left bottom
  */

.container-padding
  width 1024px
  margin 0 auto
  padding 3em 0
  text-align left

.content
  background-color white

h2, h3
  font-weight 100

*, *:after, *:before
  box-sizing border-box

.clear-both
  clear both

.guide-module-header
  margin-bottom 5px
  text-transform uppercase
  font-weight bold
  letter-spacing 3.11px
  font-size 18px

.guide-module-subheader
  margin 5px 0 0 0
  color #777
  font-size .95em
  font-weight 300
  line-height 1.5em

.guide-module-content
  margin-top 30px
  padding 5px 0

.slick-slide
  padding 0 1em
