@font-face {
    font-family: 'pileup';
    src:url('../fonts/pileup.eot?-esnmor');
    src:url('../fonts/pileup.eot?#iefix-esnmor') format('embedded-opentype'),
    url('../fonts/pileup.woff?-esnmor') format('woff'),
    url('../fonts/pileup.ttf?-esnmor') format('truetype'),
    url('../fonts/pileup.svg?-esnmor#pileup') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="pu-icon-"], [class*=" pu-icon-"] {
    font-family: 'pileup';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pu-icon-flag:before {
    content: "\e61d";
}
.pu-icon-meat:before {
    content: "\e615";
}
.pu-icon-grow:before {
    content: "\e616";
}
.pu-icon-water:before {
    content: "\e617";
}
.pu-icon-energy:before {
    content: "\e618";
}
.pu-icon-drive:before {
    content: "\e619";
}
.pu-icon-commute:before {
    content: "\e61a";
}
.pu-icon-travel:before {
    content: "\e61b";
}
.pu-icon-filter:before {
    content: "\e61c";
}
.pu-icon-thumbs-up:before {
    content: "\e614";
}
.pu-icon-close:before {
    content: "\e613";
}
.pu-icon-untouched:before {
    content: "\e611";
}
.pu-icon-complete:before {
    content: "\e612";
}
.pu-icon-impact-o:before {
    content: "\e60b";
}
.pu-icon-check:before {
    content: "\e608";
}
.pu-icon-achievement:before {
    content: "\e609";
}
.pu-icon-speech:before {
    content: "\e60a";
}
.pu-icon-chevron:before {
    content: "\e600";
}
.pu-icon-impact:before {
    content: "\e601";
}
.pu-icon-map:before {
    content: "\e602";
}
.pu-icon-play:before {
    content: "\e603";
}
.pu-icon-profile:before {
    content: "\e604";
}
.pu-icon-remindme:before {
    content: "\e605";
}
.pu-icon-share:before {
    content: "\e606";
}
.pu-icon-back:before {
    content: "\e607";
}
.pu-icon-bicycle:before {
    content: "\e60c";
}
.pu-icon-garden:before {
    content: "\e60d";
}
.pu-icon-laptop:before {
    content: "\e60e";
}
.pu-icon-sun:before {
    content: "\e60f";
}
.pu-icon-toilet:before {
    content: "\e610";
}
.pu-icon-plus:before {
    content: "\e61e"
}
.pu-icon-minus:before {
    content: "\e61f"
}
