.new-tip-modal
  position absolute
  background-color #fff
  width 75%
  border-radius 20px
  box-shadow 1px 4px 8px #ccc

  .close-icon
    float right
    color #ccc

  .new-tip-modal-content
    padding 1em 2em
    overflow auto
    h2
      margin-top 0

  .tip-modal-left
    float left
    width 60%
    height 150px
    padding 1em

  .tip-modal-right
    float right
    width 40%
    border-left 2px solid #000
    height 150px
    padding 1em

  .tip-content
    border 2px solid #000
    border-radius 20px
    padding 10px
    width 50%
    textarea
      border none
      width 100%
      &:focus
        outline none

  .tip-content-location
    font-size 0.8em
    margin-bottom 1em
