.map
  height 500px
  width 100%

.map-search-tooltip
  ul
    padding-left 0
    li
      color rgba(100,100,100,1)
      font-weight 600
      list-style-type: none
      padding: 5px 0 5px 0

.leaflet-popup-content
  padding 5px 15px 5px 15px !important
  background: rgba(255, 255, 255, 0.3)
