.footprint-header
  padding 0 4em

  h2
    font-size 33px
    font-weight 100
    margin-bottom 5px

  p
    font-size 16px
    font-weight 400
    margin-top 0
    color rgba(39,43,44,0.4)

.footprint-content
  background-color #fff
  border-radius 30px
  padding 2em 4em

  h2
    font-variant small-caps
    margin-bottom 5px

  .sub-heading
    font-size 16px
    font-weight 400
    margin-top 0
    color rgba(39,43,44,0.4)

  .did-you-know-content
    font-size 20px

  .about-you-row
    margin-top 10px
    .about-you-label
      font-weight bolder

    .about-you-description
      margin-left 5px

  .your-progress-bar
    height 16px
    position relative
    background none repeat scroll 0% 0% #D8D8D8
    border-radius 40px
    padding 10px
    float right
    width 45%
    margin-top 0.83em

    span
      position absolute
      top 0
      left 0
      display block
      overflow hidden
      height 100%
      border-radius 40px
      background-color #C1EB96


ul.badge-list
  width 100px
  list-style none

  .go-getter
    color rgba(193,165,219,100)


  .most-dedicated
    color rgba(94,152,219,100)

  li
    display inline
    margin-right 60px

    .badge
      position relative

    &:before
      content "\002B22"
      font-size 108px

