.footprint-header
  padding 0 4em

  h2
    font-size 33px
    font-weight 100
    margin-bottom 5px

  p
    font-size 16px
    font-weight 400
    margin-top 0
    color rgba(39,43,44,0.4)

.footprint-content
  background-color #fff
  border-radius 30px
  padding 2em 4em
