@require './mixins/colors'

.page-footprint
  .dropdown-component
    select
      color #50E3C2
  &:before
    color #50E3C2

.footprint-header
  padding 0 4em
  margin-top 2em

  .user-photo
    float left
    height 75px
    width 75px
    margin-right 20px

  h2
    font-size 33px
    font-weight 100
    margin-bottom 5px

  p
    font-size 16px
    font-weight 400
    margin-top 0
    color rgba(39,43,44,0.4)

.footprint-content
  background-color #fff
  border-radius 30px
  padding 2em 4em

  h2
    font-variant small-caps
    margin-bottom 5px

  .impact-score
    color teal

  .sub-heading
    font-size 16px
    font-weight 400
    margin-top 0
    color rgba(39,43,44,0.4)

  .did-you-know-content
    font-size 20px

  .about-you-row
    margin-top 10px
    .about-you-label
      font-weight bolder

    .about-you-description
      margin-left 5px

hr.h-divider
  margin-top 3.5em
  height 1px
  border-style none
  background-image linear-gradient(left, rgba(0,0,0,0), rgba(39,43,44,0.3), rgba(0,0,0,0))
