doctype html
html(lang="en")
    head
        meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
        title Domino - Change the world, one step at a time
        link(type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600|Montserrat:400,700', rel='stylesheet')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css', rel='stylesheet')
        link(href='/vendor/slick/slick.css', rel='stylesheet')
        link(href='/vendor/normalize.css', rel='stylesheet')
        link(href='/css/fonts.css', rel='stylesheet')
        link(href='/css/app.css', rel='stylesheet')
    body
        div#navbar
        div#app !{content}
        script(src='/vendor/jquery.js')
        script(src='/vendor/react-addons.js')
        script(src='/vendor/page.js')
        script(src='/vendor/slick/slick.js')
        script(src='//api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js')
        script(src='/app.js')
