.intro
  text-align center
  margin-bottom 60px

h1.intro-header
  font-weight 100

p.intro-subtext
  font-weight bold
  color #939594

div.user-context
  display inline-block
  background-color #e0e0e0
  padding 0 5em


.intro-annotation
  background-image url(/img/less-carbon-tagline.png)
  width 532px
  height 118px
  position absolute
  display none

