.guides
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.page-guides
  .guides-intro
    text-align center
    margin-bottom 24px

  h1.guides-intro-header
    font-weight 100

  p.guides-intro-subtext
    font-weight bold
    color #939594

  .guides-user-context
    display inline-block
    border-radius: 5px
    background-color #e0e0e0
    padding 0 5em
    margin-top 2.5em

.guides-intro-annotation
  background-image url("../img/easy-savings-tagline.png")
  background-size 500px 78px
  width 500px
  height 78px
  position absolute
  display none

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)

  .guides-intro-annotation
    background-image url("../img/easy-savings-tagline@2X.png")

@media
(max-width: 52em)
  .guides-intro-annotation
    background-image url("../img/easy-savings-mobile.png")
    width 186px
    height 41px
    background-size 186px 41px
    top auto !important
    left auto !important
    right 15px
