@font-face
   font-family Knockout
   font-style normal
   src url("/* echo ASSERT_HOST_URL *//fonts/Knockout-HTF28-JuniorFeatherwt.otf")

.impact-score
  color inherit
  font-size 60px
  font-weight bold
  font-family Knockout
  margin 0

  i.pu-icon-impact
    font-size 0.4em
    display inline-block
    vertical-align top
    padding-right 0.2em
    padding-top 1.2em
    color inherit
