.guide-module-upsidesdownsides
  margin-top 40px
  position relative
  ul
    float left
    width 50%
    padding-left 0
    margin 0
    padding-left 5%
    &:first-child
      padding-left 0

    h2
      margin-top -12px
      font-variant small-caps
    li
      margin 10px 0 0 20px
      width 90%

  ul.downside:after
    content " "
    margin 0 -30px
    position absolute
    top 0
    bottom 0
    width 1px
    background rgba(#979797, 0.7)
