@require '../../css/mixins/flex'
@require '../../css/mixins/fonts'
@require '../../css/mixins/colors'

.not-found-page
  text-align center
  background-color grey
  background-image url(/img/ripple_bg.png)
  background-position bottom center
  background-repeat no-repeat
  font-size 1.3em

  h2
    font-weight normal
    margin 20px 0
    color #fff

  p
    margin 0 20vw
    word-wrap normal
    white-space normal

  i.icon
    margin-top 1em
    font-size 30vw
    color teal
