.guide-actions
  margin-top 25px
  .action
    display inline-block
    width 30%
    margin 25px 0 0 3%
    padding 20px
    border-radius 20px
    background linear-gradient(#FFF, #D7D7D7)
    box-shadow 0 0 8px 3px #B0A7A7
    vertical-align top
    max-height 240px
    overflow hidden
    position relative
    text-align center
    p
      margin 0
    .action-grouping
      color #272B2C
      margin 0
      font-size 2em
    .action-title
      display block
      color #272B2C
      margin-top 15px
      font-size 1.2em
      font-weight bold
      text-decoration underline
    .action-description
      font-size 14px
      margin-top 10px
      color rgba(#272B2C, 0.5)
  .action-read-more
    display none
    position absolute
    left 0
    bottom 0
    text-align: center
    width 100%
  .action-read-more-mask
    height 100px
    background linear-gradient(to bottom, rgba(#f8f8f8, 0.1), #f8f8f8)
  .action-read-more-button
    margin-bottom -95px
