.modal-overlay
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  overflow: auto;
  color: #272b34;
  font-size: 1rem;
  z-index: 9999;

.incentive-modal
  position fixed
  left 20%
  right 20%
  margin 0 auto
  top 20%

  .incentive
    display inline-block
    width 100%
    margin-left 3%
    padding 20px
    border-radius 20px
    background linear-gradient(#FFF, #D7D7D7)
    box-shadow 0 0 8px 3px #B0A7A7

    &:nth-child(3n+1)
      margin-left 0
    p
      margin 0
    .incentive-provider
      margin-top 5px
    .incentive-currency, .incentive-amount
      display inline-block
    .incentive-currency
      margin-right 2px
    .incentive-amount
      font-size 1.5em
      margin-top 10px
    .incentive-type
      margin-top -3px
      text-transform uppercase
      letter-spacing 1px
      font-size 0.8em
      font-weight bold
      color rgba(#272B2C, 0.4)
    .incentive-description
      margin-top 10px
      color rgba(#272B2C, 0.5)
    .incentive-reference
      display block
      margin-top 6px
      color black
      text-decoration underline

    .close-icon
      float right
      color #808080
