.guide-module-intro
  background-color #000
  position relative
  background-size cover
  background-position center
  height 504px

  .intro-video
    height 100%

  .intro-overlay
    background-color rgba(0,0,0,0.4)
    overflow auto
    position absolute
    bottom 0
    width 100%
    padding 10px
    color #fff
    font-weight bold

  .intro-title
    float left
    margin-left 20px

  .intro-duration
    float right
    margin-right 20px

  iframe
    display block
    width 100%
