@require './mixins/colors'

.nav-bar
  overflow auto
  width 88%
  margin 0 auto

.nav-bar:after
  content ""
  display table
  clear both

.nav-bar-item
  padding 18px 0 0
  margin 0 0 0 40px
  text-align center

  > a
    color #868889
    text-decoration underline

  .user-photo
    margin -9px auto 0
    width 30px
    height 30px

  &.active
    > a
      text-decoration none

    .footprint-icon
      background-image url(../img/footprint-icon-active.png)

    .guides-icon
      background-image url(../img/guides-icon-active.png)

.site-logo
  background-image url(../img/logo.png)
  display block
  width 189px
  height 63px
  text-indent -999999px

.footprint-icon
  display block
  margin-top -9px
  padding-top 30px
  height 20px
  min-width 80px
  background-image url(../img/footprint-icon.png)
  background-repeat no-repeat
  background-position top right

.guides-icon
  display block
  margin-top -9px
  padding-top 30px
  height 20px
  background-image url(../img/guides-icon.png)
  background-repeat no-repeat
  background-position top center
