.nav-bar
  overflow auto
  width 88%
  margin 0 auto

.nav-bar:after
  content ""
  display table
  clear both

.nav-bar-footprint, .nav-bar-guides
  padding 18px 0 0
  margin 0 0 0 40px

  a.footprint-icon, a.guides-icon
    color #868889
    text-decoration underline

.site-logo
  background-image url(../img/logo.png)
  display block
  width 189px
  height 63px
  text-indent -999999px

.footprint-icon
  display block
  margin-top -9px
  padding-top 30px
  height 20px
  min-width 80px
  background-image url(../img/footprint-icon.png)
  background-repeat no-repeat
  background-position top right

.footprint-icon.footprint-icon-long
  margin-top 0px
  padding-top 5px
  padding-right 90px !important
  background-position top right

.guides-icon
  display block
  margin-top -9px
  padding-top 30px
  height 20px
  background-image url(../img/guides-icon.png)
  background-repeat no-repeat
  background-position top center
