@require '../../css/mixins/colors'

.nav-bar
  overflow auto
  margin 0 auto

.nav-bar:after
  content ""
  display table
  clear both

.nav-bar-item
  padding 18px 0 0
  margin 0 0 0 40px
  text-align center
  white-space nowrap

  > a
    color #333333
    text-decoration none

  .user-photo
    margin -9px auto 0
    width 30px
    height 30px

  &.active
    > a
      text-decoration none

    .footprint-icon
      background-image url(../img/footprint-icon-active.png)

    .guides-icon
      background-image url(../img/guides-icon-active.png)

    .myhome-icon
      background: url(../img/i-myhome.svg)

    .profile-icon
      background: url(../img/i-user.svg)

.site-logo
  background-image url(../img/logo.png)
  background-repeat no-repeat
  background-position top center
  background-size 189px 63px
  display block
  width 189px
  height 63px
  text-indent -999999px

.footprint-icon
  display block
  margin-top -9px
  padding-top 30px
  background-image url(../img/footprint-icon.png)
  background-repeat no-repeat
  background-position top right
  background-size 80px 26px

.guides-icon
  display block
  margin-top -9px
  padding-top 30px
  background-image url(../img/guides-icon.png)
  background-repeat no-repeat
  background-position top center
  background-size 52px 26px

.myhome-icon
  display block
  margin-top -9px
  padding-top 25px
  background: url(../img/i-myhome.svg)
  background-repeat no-repeat
  background-position top center
  background-size 32px 22px

.profile-icon
  display block
  margin-top -9px
  padding-top 25px
  background: url(../img/i-user.svg)
  background-repeat no-repeat
  background-position top center
  background-size 24px 24px

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)

  .nav-bar-item
    &.active
      .footprint-icon
        background-image url("../img/footprint-icon-active@2X.png")

      .guides-icon
        background-image url("../img/guides-icon-active@2X.png")

  .site-logo
    background-image url("../img/logo@2X.png")

  .footprint-icon
    background-image url("../img/footprint-icon@2X.png")

  .guides-icon
    background-image url("../img/guides-icon@2X.png")
