.guide-module-yelp
  ul.yelp-list
    list-style none
    padding 0
    margin-bottom 0

    li.yelp-main
      display inline-block
      border-bottom 1px solid #e5e5e1
      padding-bottom 17px

      margin 1.5em 0 0 0

      &:first-child
        margin-top 0

      &:last-child
        border-bottom none
        padding-botton none
        padding-top 17px

      .yelp-media-block
        .yelp-media-avatar
          display inline-block
          margin-right 12px

          a
            text-decoration none
            img
              outline none
              border-radius 4px

        .yelp-media-story
          display inline-block

          h3
            margin-bottom 3px
            font-weight normal

        .yelp-address-block
          display inline-block
          float right

          .yelp-address-line
            margin 0
            padding 0

        .yelp-review-snippet-container
          float left
          margin-left -1em
          .yelp-review-snippet
            position relative
            margin-top 2em
            a
              display block
              float left
              margin 0.5em 1em
            img
              outline none
              border-radius 4px
              vertical-align middle
              width 30px
              height 30px
