.questionnaire-action
  margin 40px auto 0
  width 80%
  .action
    border-radius 23px
    padding 10px 50px
    border 1px solid rgba(#000000, 0.5)
    width 305px
    font-size 1.2em
    margin 0 auto
    background none
    outline none
    &:active
      outline none
    &:hover
      background black
      color white
      cursor pointer
    &.disabled
      border 1px solid rgba(#000000, 0.1)
      color rgba(#000000, 0.1)
      &:hover
        background none
        cursor default
