.guide-module-cta
  text-align center
  .cta-header
    font-size 2.2em
    color #000000
  .cta-subheader
    margin-top -20px
    font-size 1.1em
    color rgba(#000000, 0.4)
  .cta-get-started
    display block
    padding 15px 40px
    border 1px solid rgba(#000000, 0.5)
    width 300px
    font-size 1.2em
    margin 50px auto
    border-radius 23px
    color black
    background white
    &:hover
      color white
      background black
      cursor pointer
  .cta-buttons
    overflow hidden
    margin-top 30px
    .cta-get-started
      text-decoration none
      display inline-block
      margin 10px
