.questionnaire-contact
  h2
    margin-top 20px
  .contact-names
    width 70%
    margin 0 auto
  .contact-first-name
      float left
  .contact-last-name
      float right
  .contact-first-name, .contact-last-name
    display inline-block
    text-align left
    label
      display block
      margin-left 10px
      color rgba(#000000, 0.5)
  input, textarea
    border-radius 20px
    padding 5px 10px
    border 2px solid rgba(#272B2C, 0.7)
    outline none

  textarea
    height 175px
