.questionnaire-radio
  .questionnaire-radio-input
    display inline-block
    margin-left 50px
    vertical-align top
    label
      display block
    &:first-child
      margin-left 0
    .input-description
      font-size 0.8em
      margin 0
      color rgba(#000000, 0.5)
      width 100px
