.savings-calculator
  h2, h3
    font-variant small-caps
    margin-bottom 0
  .sub-heading
    margin-top 0
    color rgba(39,43,44,0.4)
    font-size 14px
  .filter
    background-color rgba(#272B2C, 0.2)
    padding 0.5em
    width 80%
    border-radius 1.2em
  .savings-graphs
    margin 15px auto 0
    width 80%
    .savings-graph-item
      margin-top 10px
      .label
        width 20%
        display inline-block
      .progress-container
        width 80%
        display inline-block
        .progress
          height 10px
          background #272B2C
          border-radius 5px
      &:last-child
        .progress
          background #50E3C2
