.savings-calculator
  h2, h3
    font-variant small-caps
    margin-bottom 0
  .sub-heading
    margin-top 0
    color rgba(39,43,44,0.4)
    font-size 14px
  .filter
    background-color rgba(#272B2C, 0.2)
    padding 0.5em
    width 80%
    border-radius 1.2em
  .savings-graphs
    margin 15px auto 0
    width 80%
    .savings-graph-item
      margin-top 10px
      .label
        width 20%
        display inline-block
      .progress
        display inline-block
        height 10px
        background #272B2C
        border-radius 5px
        position relative
      .progress-value
        position absolute
        margin 0
        top -10px
        right -70px
        font-weight bold
        font-size 1.2em
      .impact-value
        position absolute
        margin 0
        top -8px
        right -100px
        font-weight bold
        p
          margin 0
          display inline-block
        .amount
          font-size 1.1em
        .unit
          font-size 13px
          margin-left 5px
      &:last-child
        .progress
          background #50E3C2
