.guide-module-sortable-table
  table
    margin-top: 40px
  tbody
    td:not(:first-child)
      border-bottom: 1px solid #979797
    tr:last-child
      td
        border-bottom: none
  th,td
    padding: 20px 10px
  td:nth-child(1)
    font-weight: bold
  th:nth-child(even), td:nth-child(even)
    background-color: #D8D8D8
