.guide-module-sortable-table
  table
    display block
    overflow hidden
  th,td
    font-size .9em
    line-height 1.4em
    /* padding: 20px 30px */
    padding 20px 20px
  thead
    th
      background-color #eee
      border-bottom 1px solid #d8d8d8
      color #333
      font-weight 600
  tbody
    tr
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;

      td
        /* line-height 1.5em */
    tr:nth-child(even)
      background-color #f3f3f3
    tr:hover, tr:nth-child(even):hover
      background-color #fff
/*
    td:not(:first-child)
      border-bottom 1px solid #fff
*/
    td:nth-child(1)
      color #333
      font-style italic
      font-weight 100
    tr:last-child
      td
        border-bottom: none
/*
  th:nth-child(even), td:nth-child(even)
    background-color: #eee
*/

  .sortable-table-expand-collapse
    text-align: center
    margin-top: -150px;
    &.expanded
      margin-top: 0px
      .expand-collapse-mask
        display: none

      .expand-collapse-button
        transform: rotate(45deg)

  .expand-collapse-mask
    height: 150px
    opacity: 0.9
    background linear-gradient(to bottom, rgba(#f8f8f8, 0.1), #f8f8f8)

  .expand-collapse-button
    margin-top 40px
    transition: .5s ease-in-out
