.guide-module-sortable-table
  table
    display: block
    overflow: hidden
  th
    font-weight: 600
    font-size: 17px
  tbody
    tr
      td
        line-height 1.5em
    td:not(:first-child)
      border-bottom: 1px solid #979797
    tr:last-child
      td
        border-bottom: none
  th,td
    padding: 20px 30px
  td:nth-child(1)
    font-size 18px
  th:nth-child(even), td:nth-child(even)
    background-color: #D8D8D8
  .sortable-table-expand-collapse
    display: none
    text-align: center
    margin-top: -150px;

  .expand-collapse-mask
    height: 150px
    opacity: 0.9
    background linear-gradient(to bottom, rgba(#f8f8f8, 0.1), #f8f8f8)

  .expand-collapse-button
    margin-top 40px
