.guide-module-leading-question
  .leading-question-submodule
    h2.guide-module-header
      margin-bottom 5px
      text-transform uppercase
      font-weight bold
      letter-spacing 3px
      font-size 12px

  .results
    .options
      width 50%
      margin 2em auto

      .option-button
        cursor pointer
        margin 0 0 0 0.5em
        float left

        .option-button-text
          font-size 14px
          width 10em
          text-align center

          .option-button-text-label
            margin-bottom 0

          .option-button-text-subtext
            margin 0
            padding 0
            color rgba(39,43,44,0.4)
            font-size 13px

        .option-button-image
          width 12%
          display block
          margin 0 auto
          content: url("../img/radio-option-empty.svg")
          &.active
            content: url("../img/radio-option-complete.svg")

  .leading-question-content, .leading-question-question
    margin-top 0

  .leading-question-question
    font-weight 300
    font-size 1.2em

    &.radio
      text-align left

    &.bullet
      text-align left

  .leading-question-list
    margin-top 0

    dt
      margin-top 1em
      font-weight normal
      display list-item
      list-style-type disc
      margin-left 1em
      cursor pointer

      &:first-child
        margin-top 0

      &.active, &:hover
        font-weight bold

    dd
      display none
      margin-top 1em
      font-weight 300
      margin-left 2em

      &.active
        display block
