.guide-module-leading-question
  .leading-question-submodule
    background-color #f9fef9
    padding 20px
    border 1px solid #ccc
    border-radius 0px 5px 5px 5px
    margin-top -1px

    .guide-module-content
      margin-top 0

      .text-content
        margin 0

    h2.guide-module-header
      margin-bottom 5px
      font-weight bold
      text-transform none
      letter-spacing 3px
      font-size: 1.5em

  .results
    .options
      width 100%
      margin 2em auto 0
      text-align left
      .option-button
        display inline-block
        vertical-align top
        margin 0 0 0 0.5em
        cursor pointer
        width auto
        border 1px solid #ccc
        margin 0 10px 0 0
        padding 10px 20px
        border-radius 3px 3px 0 0
        &:hover
          background-color #efefef
        &.active
          background-color #f9fef9
          border-bottom-color #f9fef9

        .option-button-text
          font-size 14px
          text-align center

          .option-button-text-label
            margin 0
          .option-button-text-subtext
            margin 0
            padding 0
            color rgba(39,43,44,0.4)
            font-size 13px

  .leading-question-content, .leading-question-question
    margin-top 0

  .leading-question-question
    font-weight 300
    font-size 1.2em

    &.radio
      text-align left

    &.bullet
      text-align left

  .leading-question-list
    margin-top 0

    dt
      margin-top 1em
      font-weight normal
      display list-item
      list-style-type disc
      margin-left 1em
      cursor pointer

      &:first-child
        margin-top 0

      &.active, &:hover
        font-weight bold

    dd
      display none
      margin-top 1em
      font-weight 300
      margin-left 2em

      &.active
        display block
