.guide-module-leading-question
  .radio-results
    .radio-result
      margin-top 1em
      font-weight 300
      font-size 1.3em
      background whitesmoke
      border-radius 5px
      padding 5px

    .options
      margin-top 2em
      text-align center
      display block

      .option-button
        padding-right 2%
        cursor pointer
        width 20%
        margin 0 auto
        display table-cell

        .option-button-text
          text-align center
          font-size 14px

        .option-button-image
          width 5%
          content: url("../img/radio-option-empty.svg")
          &.active
            content: url("../img/radio-option-complete.svg")

  .leading-question-content, .leading-question-question
    margin-top 0

  .leading-question-question
    font-weight 300
    font-size 1.2em

    &.radio
      text-align left

    &.bullet
      text-align left

  .leading-question-list
    margin-top 0

    dt
      margin-top 1em
      font-weight normal
      display list-item
      list-style-type disc
      margin-left 1em
      cursor pointer

      &:first-child
        margin-top 0

      &.active, &:hover
        font-weight bold

    dd
      display none
      margin-top 1em
      font-weight 300
      margin-left 2em

      &.active
        display block
