.dropdown-component
  display inline-block
  margin 0 5px 0 5px
  position relative
  z-index 1

  select
    border none
    padding-right 20px
    background none
    color #00a2ff
    text-decoration underline
    -webkit-appearance none
    -moz-appearance none
    &:-moz-focusring
      color transparent
      text-shadow 0 0 0 #000

  &:before
    position absolute
    top 4px
    right 0
    z-index -1
    font-size 12px
    content "\0025BC"

  select:focus
    outline none
