.incentives
  .incentive
    position relative
    float left
    display inline-block
    width 30%
    margin 25px 0 0 3%
    padding 20px
    border-radius 20px
    background linear-gradient(#FFF, #D7D7D7)
    box-shadow 0 0 8px 3px #B0A7A7
    min-height 250px
    &:nth-child(3n+1)
      margin-left 0
    p
      margin 0
    .incentive-provider
      margin-top 5px
    .incentive-currency, .incentive-amount
      display inline-block
    .incentive-currency
      margin-right 2px
    .incentive-amount
      font-size 1.5em
      margin-top 10px
    .incentive-type
      margin-top -3px
      text-transform uppercase
      letter-spacing 1px
      font-size 0.8em
      font-weight bold
      color rgba(#272B2C, 0.4)
    .incentive-description
      margin-top 10px
      color rgba(#272B2C, 0.5)
    .incentive-reference
      position absolute
      bottom 15px
      display block
      color black
      text-decoration underline
