.body-login-register
  background-color #222

.auth
  margin 60px auto
  width 50%
  background-color #f8f8f8
  padding 40px
  border 2px solid #000
  border-radius 30px
  border-top-width 0
  h2.auth-header
    margin 0
  p.auth-subheader
    margin 0
    font-size 0.9em
    color #999
  .btn
    background-color #000
    color #fff
    border-width 0
    padding 10px 30px
    border-radius 30px
    margin-right 5px
    &.btn-disable
      pointer-events: none
      cursor: default
  .btn:focus
    outline none
  form
    margin-top 15px

  fieldset
    border-width 0
    padding 0
    legend
      display none

  div.row
    overflow hidden
    margin 0 0 5px
    label
      display inline-block
      min-width 150px

.alert
  padding 10px
  background-color #c4c4c4
  background-color rgba(0,0,0,0.1)
  &.alert-error
    background-color #fcc
  &.alert-info
    background-color #d9edf7
