.tips
  .tips-header
    margin 20px 0 0 0
    font-variant small-caps
  .tips-subheader
    margin -5px 0 0 0
    color rgba(#272B2C, 0.4)
    font-size 14px
  .tip-items
    margin-top 20px
  .tip
    display inline-block
    float left
    width 30%
    padding 2em
    margin-left 2%
    border 1px solid #979797
    border-radius 30px
    color #272B2C
    &:first-child
      margin 0
  .clear
    clear both
  .tip-content
    margin 0
  .tip-profile
    margin-top 30px
  .tip-profile-image
    float left
    border-radius 25px 25px
  .tip-profile-details
    float left
    margin-left 15px
  .tip-display-name
    font-weight bold
  .tip-location, .tip-location-without-profile
    font-size 14px
  .tip-location-without-profile
    margin-top 15px
