.tips
  .tips-header
    margin 20px 0 0 0
    font-variant small-caps
  .tips-subheader
    margin -5px 0 0 0
    color rgba(#272B2C, 0.4)
    font-size 14px
  .tip-items
    margin-top 20px
  .tip
    display inline-block
    float left
    width 30%
    padding 2em
    margin-left 2%
    border 1px solid #979797
    border-radius 20px
    &:first-child
      margin 0
  .clear
    clear both
  .tip-content
    margin 0
    color #272B2C
