.newsletter-signup
  text-align center
  padding-bottom 3em
  /* margin-top 2em */

.newsletter-signup-title
  font-weight 100
  font-size 48px
  margin-bottom 0

.newsletter-signup-subtext
  font-size 1.3em
  color #999
  margin 0 0 .5em

.newsletter-signup-form
  font-weight 100

.newsletter-signup-input
  border 1px solid #fff
  border-radius 20px
  padding 10px 20px
  background-color #fff
  display inline-block
  margin-right 10px
  outline none
  width 30%

.newsletter-signup-button
  color #fff
  font-weight bold
  border-width 0
  background-color #ccc
  outline none
  border-radius 20px
  padding 10px 20px
  -webkit-transition background-color .5s ease;
  -moz-transition background-color .5s ease;
  -o-transition background-color .5s ease;
  transition background-color .5s ease;

.newsletter-signup-button:hover
  background-color #7bd1c0

.newsletter-signup-notice
  padding 15px 0
