.guide-editor
  background-color #fff

.save-guide
  position absolute
  float right
  right 150px
  top 200px
  width 200px
  padding 5px 30px 5px 30px
  border none
  text-align center
  font-size 10em
  background #34e0c2

.editor-info
  position absolute
  float left
  right 0
  width 200px
  text-align center
  left 150px
  top 200px
  padding 5px 30px 5px 30px
  border none
  font-size 10em
  background #34e0c2
  -webkit-appearance button
  cursor pointer
