.guide-editor
  background-color #fff

.save-guide
  position absolute
  float right
  right 100px
  top 200px
  width 100px
  padding 5px 30px 5px 30px
  border none
  text-align center
  font-size 3em
  background #34e0c2

.editor-info
  position absolute
  float left
  right 0
  width 100px
  text-align center
  left 100px
  top 200px
  padding 5px 30px 5px 30px
  border none
  font-size 3em
  background #34e0c2
  -webkit-appearance button
  cursor pointer

.intro-inputs
  top 0
  position absolute
  width 48%
  right 0
  padding 20px
  border-style solid
