/*
  90% width on the main content
  5% each on the prev/next buttons
*/
.did-you-know
  width 90%
  margin 0 auto
  font-size 1.3em
  line-height 33px
  text-align center

.slick-prev { left: -8%; margin-top: -1em; font-size 1.5em; width: 5%; height: auto;}
.slick-prev:before { content: "\003008"; color: #979797; font-size 1.5em; opacity: 1;}

.slick-next { right: -7.5%; margin-top: -1em; font-size 1.5em; width: 5%; height: auto;}
.slick-next:before { content: "\003009"; color: #979797; font-size 1.5em; opacity: 1;}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 1; }
