.content-sub-heading
  h2
    margin-bottom 5px
    font-variant small-caps

.did-you-know
  width 95%
  margin 0 auto
  font-size 24px
  line-height 33px
  text-align center

.slick-prev { left: -25px; margin-top: -1em; font-size 2em; width: 1em; height: auto;}
.slick-prev:before { content: "\2039"; color: #979797; font-size 1.5em; opacity: 1;}

.slick-next { right: -41px; margin-top: -1em; font-size 2em; width: 1em; height: auto;}
.slick-next:before { content: "\203A"; color: #979797; font-size 1.5em; opacity: 1;}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 1; }
