.guide-module-amazon-products
  .product-link, .review-link
    text-decoration: none
    color black
    &:visited
      color #808080
  .product-importance-category
    font-weight 600
    text-transform capitalize
    margin-top 0.4em
    &.good
      color #6BC4D9
    &.better
      color #38BA99
    &.best
      color #E0613D
  .product-item
    margin-top: 20px
    display: inline-block
    width: 27.659%
    margin-left: 7%
    vertical-align: top

    /** carousel styles override start */
    font-size: 16px
    line-height: normal
    text-align: left
    img
      pointer-events auto
    /* carousel styles override finish **/

    &:nth-child(3n+1)
      margin-left: 0
    img
      display: inline
  .product-creator-section
    font-weight: bold
    margin-bottom 0
  .product-creators
    margin-left: 5px
    text-decoration: underline
  .product-link
    display: block
  .product-image-wrapper
    display block
    width 250px
    height 250px
    text-align center
    overflow hidden
    box-shadow 0 1px 1px #ccc
    padding 10px
    background-color #fff
    border 1px solid #f8f8f8
    border-top-color #fff
    border-bottom-color #ccc
  .product-image
    max-height 100%
    max-width: 100%
    display block
    margin 0 auto
  .product-review-count
    margin-left: 10px
    font-size 14px

.guide-module-amazon-products
  .guide-module-carousel
    .product-item
      width: auto
