.guide-module-amazon-products
  .book-list
    margin-top: 20px
  .book-item
    display: inline-block
    width: 27.659%
    margin-left: 7%
    &:first-child
      margin-left: 0
  .book-author-section
    font-weight: bold
  .book-authors
    margin-left: 5px
    text-decoration: underline
  img
    box-shadow: 0 3px 14px 1px rgba(0,0,0,0.5)
    max-width: 100%
