.body-city
  margin 0

  .container
    background #fff

.page-city .container-padding
  margin 0
  padding 0
  width 100%

.city-container

  h1
    font-size 5em
    font-weight 300
    margin 0
    text-align center

  h2
    color rgba(247,104,121,1)
    font-size 3em
    font-weight 600
    margin .5em 0
    text-align left

  em
    color rgba(247,104,121,1)
    font-style normal
    font-weight 600

  p
    font-size 1.8em
    font-weight 400
    margin 1em 0

  p.city-page-button
    margin 1.5em 0

  a.city-get-started
    background rgba(247,104,121,1)
    border-radius 1.25em
    color #fff
    font-size 1em
    line-height 1
    margin 4em 0
    padding .5em 1.5em
    text-decoration none

  .city-container-head
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-head
      margin 0 auto
      width 1024px

      .city-stats
        background url("../img/city-page-stats.png")
        height 342px
        margin 30px auto
        text-indent -9999px
        width 886px

  .city-container-map
    background #fff
    color #222
    padding 60px 0

    .city-map
      margin 0 auto
      width 1024px

      .city-map-panes
        margin 30px 0

      .city-map-tabs
        display inline-block
        width 260px
        &:hover
          cursor pointer

      .city-map-tab
        margin-bottom 2px
        padding 32px 10px 25px
        background-color #F8F8F8
        &:hover
          background-color #f0f8ff
        &.active
          background-color #4ec7dc

      .city-map-tab-image
        display block
        margin 0 auto
        width 140px

      .city-map-tab-text
        margin 0
        text-align center
        font-size 1.2em
        color #656B6F

      .city-map-image
        position relative
        display inline-block
        vertical-align top
        height 600px
        width 764px

      .city-map-image-mask
        position absolute
        bottom 0px
        width 100%
        height 161px
        background-color rgba(0, 0, 0, 0.4)

      .city-map-image-text
        padding 0 30px
        text-align center
        color white
        font-size 1.2em
        font-weight bold

      .city-map-image-button
        display block
        margin 0 auto
        background-color: #F76879
        border none
        border-radius 20px
        padding 5px 20px
        font-size 1.3em
        color #FFFFFF

      .electric-car-map
        background url("../img/evs-map.png")

      .solar-map
        background url("../img/solar-map.png")

      .clean-power-map
        background url("../img/clean-power-option-map.png")

      .thermostats-map
        background url("../img/thermostats-map.png")

  .city-container-action
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-action
      margin 0 auto
      width 1024px

  .city-container-partners
    background #fff
    color #222
    padding 60px 0

    .city-partners
      margin 0 auto
      width 1024px

      h2
        color #4EC7DC

  .city-partner-logos
    background url("../img/city-page-partners.png")
    height 299px
    margin 30px auto
    text-indent -9999px
    width 876px

  .city-container-disclaimer
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-disclaimer
      margin 0 auto
      width 1024px

      p
        font-size 1em

      a
        color #fff
