.body-city
  margin 0

  .container
    background #fff

.page-city .container-padding
  margin 0
  padding 0
  width 100%

.city-container

  h1
    font-size 5em
    font-weight 300
    margin 0
    text-align center

  h2
    color rgba(247,104,121,1)
    font-size 3em
    font-weight 600
    margin .5em 0
    text-align left

  p
    font-size 1.8em
    font-weight 400
    margin 1em 0

  p.city-page-button
    margin 1.5em 0

  a.city-get-started
    background rgba(247,104,121,1)
    border-radius 1.25em
    color #fff
    font-size 1em
    line-height 1
    margin 4em 0
    padding .5em 1.5em
    text-decoration none

  .city-container-head
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-head
      margin 0 auto
      width 1024px

      .city-stats
        background url("../img/city-page-stats.png")
        height 342px
        margin 30px auto
        text-indent -9999px
        width 886px

  .city-container-map
    background #fff
    color #222
    padding 60px 0

    .city-map
      margin 0 auto
      width 1024px

      .city-map-selector
        background url("../img/city-page-map.png")
        height 596px
        margin 30px auto
        text-indent -9999px
        width 988px

  .city-container-action
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-action
      margin 0 auto
      width 1024px

  .city-container-partners
    background #fff
    color #222
    padding 60px 0

    .city-partners
      margin 0 auto
      width 1024px

      h2
        color #4EC7DC

  .city-partner-logos
    background url("../img/city-page-partners.png")
    height 299px
    margin 30px auto
    text-indent -9999px
    width 876px

  .city-container-disclaimer
    background #4EC7DC
    color #fff
    padding 60px 0

    .city-disclaimer
      margin 0 auto
      width 1024px

      p
        font-size 1em
