.body-city
  margin 0

  .container
    background #fff

.page-city .container-padding
  margin 0
  padding 0
  width 100%

.city-container

  h1
    font-size 4em
    font-weight 100
    margin 0
    text-align center

  h2
    font-size 2.2em
    font-weight 100
    margin 0
    text-align center

  p
    font-size 1.5em
    font-weight 400
    margin 0

  a.city-get-started
    background rgba(247,104,121,1)
    color #fff
    margin 20px 0
    padding 8px 12px
    text-decoration none

  .city-container-head
    background #4EC7DC
    color #fff
    padding 40px 0

    .city-head
      margin 0 auto
      width 1024px

      .city-stats
        background url("../img/city-page-stats.png")
        height 342px
        margin 0 auto
        text-indent -9999px
        width 886px

  .city-container-map
    background #fff
    color #222
    padding 40px 0

    .city-map
      margin 0 auto
      width 1024px

      .city-map-selector
        background url("../img/city-page-map.png")
        height 596px
        margin 0 auto
        text-indent -9999px
        width 988px

  .city-container-action
    background #4EC7DC
    color #fff
    padding 40px 0

    .city-action
      margin 0 auto
      width 1024px

  .city-container-partners
    background #fff
    color #222
    padding 40px 0

    .city-partners
      margin 0 auto
      width 1024px

      .city-partner-logos
        background url("../img/city-page-partners.png")
        height 485px
        margin 0 auto
        text-indent -9999px
        width 876px
