body.body-splash
  background-color white
  text-align center

  .splash-header
    font-size 3.5em
    font-weight normal
    margin-top 70px
  .splash-subheader
    font-size 1.6em
    font-weight 300
  .splash-logo
    margin-top 20px
  .splash-button
    display block
    background #272B2C
    font-size 1.2em
    width 300px
    margin 0px auto 100px
    color white
