.svg-impact-spiral-point-goal
  fill #BD10E0
.svg-impact-spiral-point-complete
  fill #38BA99
.svg-impact-spiral-point
  fill #D8D8D8

.impact-spiral-container
  position relative
  margin 0 auto

.impact-spiral-percent
  position absolute
  top 0
  left 0
  width 100%
  padding-top 70px
  color #38BA99
  text-align center
  strong
    font-size 4em
    font-weight bold
    display block


.impact-spiral-container-goal .impact-spiral-percent
  color #BD10E0
