@require './mixins/colors'

.impact-sidebar
  width 130px
  font-size 0.8em
  text-align center
  position absolute

  .impact-text
    margin-top .5em

  a
    color inherit
    cursor pointer
    text-decoration none

    > span
      border-bottom 1px solid #000000
      color grey
      text-decoration none
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;

  a:hover > span
    color rgb(123, 209, 192)
    border-color rgb(123, 209, 192)

  .icon
    display block
    font-size 3.5em
    margin-bottom .1em

  hr
    width 40%
    margin 12px auto
    padding 0
    border 1px solid transparent

  .impact-score
    margin-bottom -20px;
    display inline-block;

  .action-button
    color grey
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;

  .action-button:hover
    color rgb(123, 209, 192)

  .action-button.active
    color inherit
    font-weight bold

    a > span
      color inherit
      text-decoration none

  .action-button.disabled
    color lightgrey
