.auth-bar
  position absolute
  top: 0
  right: 0
  left: 0
  padding: .25em
  width: 100%
  background-color: #6BC4D9
  color: #fff
  z-index 1000
  p
    margin: 0
    line-height: 2em
    text-align: center
    a
      color: #fff
      text-decoration underline
      line-height 1em

.auth-bar-close
  float: right
  margin-right: 1em
  font-size: 1.4em
