.auth-bar { position: fixed; top: 0; right: 0; left: 0; padding: .25em; width: 100%; background-color: #000; color: #fff; }
.auth-bar-close { float: right; margin-right: 1em; font-size: 1.4em; }
.auth-bar p { margin: 0; line-height: 2em; text-align: center; }
